body {
    font-family: Cambria, Arial;
    font-size: 14px;   
    background: #111111;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: #111111;
    padding: 10px;
    text-align: center;
}

nav {
    background: #111111;
    padding: 10px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

section {
    margin-bottom: 20px;
}

pre {
    background: #000000;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
    padding: 6px;
}

th {
    background: #222222;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
}

/* ===================================================== */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navmenu {
    width: 100%;
    max-width: 900px;
    padding: 10px 15px;
}
#navmenu ul {
    list-style-position: outside;
    margin: 0;
    padding-left: 20px;
    text-align: left;
}
#navmenu li {
    margin: 6px 0;
}
#navmenu a {
    color: #87CEEB;
    text-decoration: none;
}
#navmenu a:hover {
    color: #E6E6FA;
}
#navmenu a.active {
    color: #b48bff;
    font-weight: bold;
}
#navmenu a.active:hover {
    background: rgba(230, 230, 250, 0.3);
}

/* ===================================================== */

strong.Style {
    color: #000000;                
    font-weight: bold;
    background-color: #ffffff;     
    padding: 2px 6px;            
    border-radius: 6px;         
}

